canvas {
    border: 1px solid #000000;
}
#wrapper {
    display: table;
    margin: 0 auto;
}
body {
    font-family: sans-serif;
    background-color: #eee;
}
#editor {
    width: 420px;
    height: 596px;
    margin-left: 3px;
    padding: 3px;
}
@media screen and (min-width: 1900px) {
    #editor {
        width: 700px;
    }
}

#save {
    float: right;
}

.link_like {
    cursor: pointer;
    font-size: small;
    color: darkred;
}

.link_like:hover {
    color: green;
}

#keys td {
    padding: 3px 15px;
}

#keys {
    margin-left: 50px;
    margin-top: 10px;
}

#press_key_msg {
    height: 40px;
    margin-left: 50px;
}

